@font-face {
	font-family: "PublicPixel";
	src: url("/assets/PublicPixel.ttf");
}

* {
	font-family: "PublicPixel", sans-serif;
	color: #ffffff;
	text-shadow: 2px 2px 1px #000000;
	text-transform: uppercase;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-color: #532268;
	background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a9379e' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
	background-size: 140px;
	animation: moveBackground 15s linear infinite;
}

@keyframes moveBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 200px 200px;
	}
}
